.top{
	height: 90vh;
}
#greeting h2{
	padding-top: 20vh;
}
@media screen and (max-width:900px) {
	.top{
		height: 50vh;
	}
	#greeting h2{
		padding-top: 15vh;
	}
}

/* アイコン */
#sns{
	font-size: 3rem!important;
	text-align: center;
	margin-bottom: 10vh;
}
#sns a{
	text-decoration: none;
	margin-left: 3rem;
}

section{
	margin-top: 0!important;
}







.center{
	text-align: center;
	margin-bottom: 5rem;
}

